apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: guestbook
  namespace: argocd
spec:
  project: default
  source:
    #repoURL: https://github.com/lm-academy/argocd-example-apps.git
    repoURL: https://github.com/kkushwaha/argocd.git
    targetRevision: HEAD
    path: prometheus
  destination:
    server: https://kubernetes.default.svc
    namespace: default

